
body{
    background-color: #dddddd;
    background: url(http://i.imgur.com/RgvoVMU.png) repeat 0 0;
}

.main-area{
    background-color:#ffffff;
    border-style:solid;
    border-color:#989898;
    border-width: 1px;
}

.row{
    padding:2px;
    margin:2px;

}

h1 {
    font-weight: bold;
    font-family: 'Oswald', cursive;
    font-size: 40px;
}

h2 {
	font-weight: bold;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 25px;
}

p {
    font-family: 'Play', sans-serif;
    font-size: 15px;
}

a {
    font-family: 'Play', sans-serif;
    font-size: 15px;
}

.tick-img{
    width: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.testclass{
	padding-top: 9px;
}


.taskbar{
    border-width: 2px;
    border-style: solid;
    border-color:#bbbbbb;
	background-color:#dddddd;
}


/*task return colors*/

.changed{
	color:#cccc00;
}

.success{
	color:#66ff66;
}

.failed{
	color:#ff0000;
}

.skipped{
	color:#0099ff;
}


