<html ng-app='mainApp' ng-controller='mainController' data-ng-init='init()'>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/dep/styles/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/dep/styles/style.css"/>
		<script src="/static/dep/js/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		<div class='row header-bar'>
			<div class='col-md-12'>
				<img src="http://i.imgur.com/MK59sXc.png?2">
			</div>
		</div>