<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class = "col-md-6 col-md-offset-3 text-center">
                <title>Neontribe Tower</title>
                <h1>Neontribe Tower</h1>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-10 col-md-offset-1 main-area ">
                <h1>General Actions</h1> 
                <div class ='col-md-3'>
                    <p>List Versions on remote machine</p>
                </div>
            </div>
        </div>
    </body>
</html>
