

<html ng-app='mainApp' ng-controller='mainController'>
   <head>
      <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <script src="/static/angular.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="row">
         <div class = "col-md-6 col-md-offset-3 text-center">
            <title>Neontribe Tower</title>
            <h1>Neontribe Tower</h1>
         </div>
      </div>
      <div class="row">
         <div class = "col-md-10 col-md-offset-1 main-area ">
            <div class='row'>
               <div class='row'>
                  <div class='col-md-6'>
                     <h1>General Actions</h1>
                  </div>
               </div>
               <div class='row'>
                  <div class='col-md-5'>
                     <p>List Versions on a remote Machine
                     <p>
                  </div>
                  <div class='col-md-3'>
                     <button ng-click='expandTask("listVersions")' >Expand task</button>
                  </div>
               </div>
               <div ng-show='tasks.listVersions' class='row'>
                  <div class='col-md-2'>
                     <br>
                     <input ng-model='brandCode' type='text' class='form-control' placeholder ='Brand Code'>
                     <br>
                  </div>
                  <div class ='col-md-offset'>
                     <br>
                     <button ng-click='listVersions(brandCode)'>Go!</button>
                  </div>
               </div>
               <div class='row'>
                  <div class='col-md-4'>
                  </diV>
               </div>
            </div>
            <div class='row'>
               <div class='row'>
                  <div class ='col-md-6'>
                     <ul class="nav nav-pills">
                        <li role="presentation" ng-class='adminTab'><a ng-click='switchTabs("admin")' href="#">Admin Actions</a></li>
                        <li role="presentation" ng-class='developerTab' ><a ng-click='switchTabs("developer")' href="#">Developer Actions</a></li>
                     </ul>
                  </div>
               </div>
               <div ng-show='adminActions'>
                  <br>
                  <br>
                  <div class='row'>
                     <div class='col-md-5'>
                        <p>Push a code fix to RC for approval
                        <p>
                     </div>
                     <div class='col-md-3'>
                        <button ng-click='expandTask("pushFix")' >Expand task</button>
                     </div>
                  </div>
                  <div ng-show='tasks.pushFix' class='row'>
                     <div class='col-md-4'>
                        <p>expanded</p>
                     </div>
                  </div>
                  <br>
                  <br>
                  <div class='row'>
                     <div class='col-md-5'>
                        <p>Switch between which sites are linked as testing and latest on a remote machine
                        <p>
                     </div>
                     <div class='col-md-3'>
                        <button ng-click='expandTask("switchTestingLatest")' >Expand task</button>
                     </div>
                  </div>
                  <div ng-show='tasks.switchTestingLatest' class='row'>
                     <div class='col-md-2'>
                        <input type='text' class='form-control' placeholder='Brand Code'></input>
                     </div>
                     <div class='col-md-2'>
                        <button>Go!</button>
                     </div>
                  </div>
                  <br>
                  <br>
                  <div class='row'>
                     <div class='col-md-5'>
                        <p>Release approved site from RC
                        <p>
                     </div>
                     <div class='col-md-3'>
                        <button ng-click='expandTask("releaseApproved")' >Expand task</button>
                     </div>
                  </div>
                  <div ng-show='tasks.releaseApproved'>
                     <div class='row'>
                        <div class='col-md-4'>
                           <form>
                              <input type="radio" name="update" value="patch">patch
                              <br>
                              <input type="radio" name="update" value="minor">minor
                              <br>
                              <input type="radio" name="update" value="major">major
                           </form>
                        </div>
                     </div>
                     <div class="row">
                        <div class='col-md-2'>
                           <input type='text' class='form-control' placeholder='Brand Code'></input>
                        </div>
                        <div class="col-md-1">
                           <button>Go!</button>
                        </div>
                     </div>
                  </div>
                  <br>
                  <br>
                  <div class='row'>
                     <div class='col-md-5'>
                        <p>Roll back the live site</p>
                     </div>
                     <div class='col-md-3'>
                        <button ng-click='expandTask("rollBack")' >Expand task</button>
                     </div>
                  </div>
                  <div ng-show='tasks.rollBack'>
                     <div class="row">
                        <div class='col-md-2'>
                           <input type='text' class='form-control' placeholder='Brand Code'></input>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class='col-md-2'>
                           <select>
                              <option value="zz_0.0.1">zz_0.0.1</option>
                              <option value="zz_0.0.2">zz_0.0.2</option>
                              <option value="zz_0.0.3">zz_0.0.3</option>
                              <option value="zz_0.0.4">zz_0.0.4</option>
                           </select>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-1">
                           <button>Go!</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      <div ng-show='developerActions'>
         <br>
         <br>
         <div class='row'>
            <div class='col-md-5'>
               <p>Pull a local copy of Live site</p>
            </div>
            <div class='col-md-3'>
               <button ng-click='expandTask("localCopy")' >Expand task</button>
            </div>
         </div>
         <div ng-show='tasks.localCopy'>
	        <div class="row">
	            <div class='col-md-2'>
	            	<input type='text' class='form-control' placeholder='Brand Code'></input>
	            </div>
	            <div class="col-md-1">
	             	<button>Go!</button>
	            </div>
	        </div>
         </div>
         <br>
         <br>
         <div class='row'>
            <div class='col-md-5'>
               <p>Update an old copy of the site from current live state</p>
            </div>
            <div class='col-md-3'>
               <button ng-click='expandTask("updateCopy")' >Expand task</button>
            </div>
         </div>
         <div ng-show='tasks.updateCopy' class='row'>
            <div class='col-md-4'>
               <p>expanded</p>
            </div>
         </div>
         <br>
         <br>
         <div class='row'>
            <div class='col-md-5'>
               <p>Update the rc or testing site with files and db from live</p>
            </div>
            <div class='col-md-3'>
               <button ng-click='expandTask("freshenRemote")' >Expand task</button>
            </div>
         </div>
         <div ng-show='tasks.freshenRemote' class='row'>
            <div class='col-md-4'>
               <p>expanded</p>
            </div>
         </div>
      </div>
   </body>
   <script>
      var app = angular.module('mainApp', []);
      
      app.controller('mainController', function($scope, $http) {
      $scope.version = {"live":"","test":""};            
      $scope.tasks ={'listVersions':false,
      'pushFix':false,
                         'switchTestingLatest':false, 
                         'releaseApproved':false,
                         'rollBack':false,
                         'localCopy':false,
                         'updateCopy':false,
                         'freshenRemote':false
                        };
      
      
      $scope.adminTab = 'active';
      $scope.developerTab = '';
      $scope.adminActions = true;
      $scope.developerActions = false;
          $scope.switchTabs = function(tab){
              if (tab == 'developer'){
                  $scope.adminTab ='';
      $scope.developerTab = 'active';
                  $scope.adminActions = false;
                  $scope.developerActions = true;
              };
      
              if (tab == 'admin'){
                  $scope.adminTab ='active';
      $scope.developerTab = '';
                  $scope.adminActions = true;
                  $scope.developerActions = false;
              };
          };
      
      
      $scope.expandTask = function(task){
      $scope.tasks[task] = !$scope.tasks[task]
      };
      
      
      $scope.listVersions = function(brand_code){
      console.log(brand_code);
      $http.get('/getVersion?code='+brand_code ).
      success(function(data,status,headers,config){
               console.log(data)
           }).
      error(function(data,status,headers,config){
      });
      };
      
      });
      
      
   </script>
</html>

