<html ng-app='mainApp' ng-controller='mainController'>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/angular.js"></script>
        <script src="/static/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class = "col-md-6 col-md-offset-3 text-center">
                <title>Neontribe Tower</title>
                <h1>Neontribe Tower</h1>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-10 col-md-offset-1 main-area ">
		<div class='row'>
                    <div class='row'>
			<div class='col-md-6'>
                            <h1>General Actions</h1>
			</div> 
		    </div>
                    <div ng-controller='getVersion'>  
                        <div class='row'>
		            <div class ='col-md-4'>
                                <p>List Versions available on remote machine for a given brand code</p>
                            </div>
                            <div class ='col-md-6'>
	                        <button ng-click='expandTask()'>Expand Task</button>
                            </div>
                        </div>
                        <div ng-show ='taskShown'>
                            <div class='row'>
                                <div class='col-md-12'>
                                     <p>expand</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		<br>
		<br>
                <div class='row'>
		    <div class='row'>
                        <div class ='col-md-6'>
		            <ul class="nav nav-pills">
		                <li role="presentation" ng-class='adminTab'><a ng-click='switchTabs("admin")' href="#">Admin Actions</a></li>
			        <li role="presentation" ng-class='developerTab' ><a ng-click='switchTabs("developer")' href="#">Developer Actions</a></li>
		 	    </ul>
                        </div>
		    </div>
	            <div ng-show='adminActions'>
		        <br>
		        <br>
                        <div ng-controller='codeFix'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                    <p>Push a code fix to rc for approval</p>
                                </div>
                                <div class ='col-md-6'>
	                           <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		        <br>
		        <br>
                        <div ng-controller='switchBetweenSites'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                 <p>switch between which sites are linked as testing and latest on remote machine</p>
                                </div>
                                <div class ='col-md-6'>
	                           <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		        <br>
		        <br>
                        <div ng-controller='releaseApproved'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                 <p>Release an approved site to live from rc</p>
                                </div>
                                <div class ='col-md-6'>
	                           <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
				<div ng-show ='taskShown'>
					<div class='row'>
					    <div class='col-md-12'>
						    <p>expand</p>
					    </div>
					</div>
				</div>
	                </div>
		        <br>
		        <br>
                        <div ng-controller='rollBack'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                    <p>Roll back live Site</p>
                                </div>
                                <div class ='col-md-6'>
	                           <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		   </div>
	           <div ng-show='developerActions'>
		        <br>
		        <br>
                        <div ng-controller='localCopy'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                    <p>Create a copy of the live site on local machine </p>
                                </div>
                                <div class ='col-md-6'>
	                            <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		        <br>
		        <br>
                        <div ng-controller='updateCopy'>
                            <div class='row'>
		                <div class ='col-md-4'>
				    <p>Update an old copy of the site from the current live site</p>                     
                                </div>
                                <div class ='col-md-6'>
	                            <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		        <br>
		        <br>
                        <div ng-controller='updateRC'>
                            <div class='row'>
		                <div class ='col-md-4'>
                                    <p>Update the RC or testing site with files and db from live </p>
                                </div>
                                <div class ='col-md-6'>
	                            <button ng-click='expandTask()'>Expand Task</button>
                                </div>
                            </div>
                            <div ng-show ='taskShown'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <p>expand</p>
                                    </div>
                                </div>
                            </div>
	                </div>
		   </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app = angular.module('mainApp', []);
	
        app.controller('mainController', function($scope, $http) {
	    $scope.adminTab = 'active';
	    $scope.developerTab = '';
	    $scope.adminActions = true;
	    $scope.developerActions = false;
            $scope.switchTabs = function(tab){
            if (tab == 'developer'){
                $scope.adminTab ='';
		$scope.developerTab = 'active';
                $scope.adminActions = false;
                $scope.developerActions = true;
            };
		
            if (tab == 'admin'){
                $scope.adminTab ='active';
		$scope.developerTab = '';
                $scope.adminActions = true;
                $scope.developerActions = false;
            };

		            
	    };

        });


        /* General Actions */
        app.controller('getVersion', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });

	/*Admin Actions*/
        app.controller('codeFix', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });


        app.controller('switchBetweenSites', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });


        app.controller('releaseApproved', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });


        app.controller('rollBack', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });

        /*Developer Actions*/
        app.controller('localCopy', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });

        app.controller('updateCopy', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });


        app.controller('updateRC', function($scope, $http) {
            $scope.taskShown = false;
	    $scope.expandTask = function(){
               $scope.taskShown = !$scope.taskShown;
            };
        });


    </script>
</html>
