<div class='row info-bar'>
	<div class='col-md-2 form-inline' role='form'>
		<h2>
		Server Group Selected:
		<select ng-model='brandCodeSelected' ng-options="o as o for o in serverGroups" ng-change="updateValues($event)">
			
		</select>
		</h2>
	</div>
	<div class='col-md-2 form-inline' role='form' >
		<h2>
		Server Type:
		<select ng-model='serverTypeSelected' ng-options="o as o for o in serverTypes" ng-change="updateValues($event)">
			
		</select>
		</h2>
	</div>
	<div class='col-md-2 form-inline' role='form'>
		<button  ng-click="loadCache(brandCodeSelected)" class="btn btn-success">Reload cache</button>
	</div>
</div>