<div class='row' role="contain" ng-show='activeTab == "localCopy"' ng-controller='pullcopylocal' data-ng-init='init()'>
	<div class='col-md-12'>
		<div class='row'>
			<div class='col-md-6 col-md-offset-1'>
				<h2> Pull a Local Copy </h2>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='col-md-3 col-md-offset-1'>
				<p>Local Directory to save in:</p>
			</div>
			<div class='col-md-3'>
				<input type='text' ng-model='controlList.localCopy.local'>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='col-md-3 col-md-offset-1'>
				<p>Select remote folder to pull:</p>
			</div>
			<div class='col-md-3'>
			<select ng-init='controlList.localCopy.source = controlList.listVersions.data[brandCodeSelected].data[serverTypeSelected].flat[0]' ng-model='controlList.localCopy.source' ng-options='path.name for path in controlList.listVersions.data[brandCodeSelected].data[serverTypeSelected].flat'></select>
		</div>
	</div>
	<br>
	<div class = 'row'>
		<div class='col-md-11 col-md-offset-1'>
			<input type="checkbox" ng-model='controlList.localCopy.withdb'>Create new DB?<br>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-md-11 col-md-offset-1'>
			<button ng-click='localCopy(brandCodeSelected,controlList.localCopy.local,controlList.localCopy.source.name,serverTypeSelected,controlList.localCopy.withdb)' class="btn btn-default btn-lg" >Pull Local Copy</button>
		</div>
	</div>
</div>
<div class='col-md-6'>
	<div class='row'>
		<div class='col-md-12'>
			<div ng-show='controlList.localCopy.loading'>
				<div class='row'>
					<div class='col-md-12'>
						<br>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<br>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<br>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<br>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-3 col-md-offset-3'>
						<img src='http://i1142.photobucket.com/albums/n606/Ingund_Of_Brionne/ezgif.com-crop.gif'/>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class='row'>
		<div class='col-md-10 col-md-offset-2'>
			<div ng-repeat='server in controlList.localCopy.data.tasks'>
				<h3>{{server.name | angular }}</h3>
				<div ng-repeat='task in server.task'>
					<br>
					<div class='taskbar'>
						<p>{{task.name | angular}}</p>
						<div ng-if='task.status == "ok"'>
							<p>Status: <span class='success'>{{task.status | angular}}</span></p>
						</div>
						<div ng-if='task.status == "changed"'>
							<p>Status: <span class='changed'>{{task.status | angular}}</span></p>
						</div>
						<div ng-if='task.status == "failed"'>
							<p>Status: <span class='failed'>{{task.status | angular}}</span></p>
						</div>
						<div ng-if='task.status == "unreachable"'>
							<p>Status: <span class='unreachable'>{{task.status | angular}}</span></p>
						</div>
						<div ng-if='task.status == "skipping"'>
							<p>Status: <span class='skipped'>{{task.status | angular}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>