<html ng-app='mainApp' ng-controller='mainController'>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/static/redesign.css"/>
		<script src="/static/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'/>
	</head>
	<body>
		<div class='row header-bar'>
			<div class='col-md-12'>
           		<img src="http://i.imgur.com/MK59sXc.png?2">
			</div>
		</div>
		<div class='row'>
			<div class='col-md-2 sidebar'>
				<div class='row sidebar-item' ng-click='expandTask("listVersions")'>
					<h4>See Versions</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("pushFix")'  >
					<h4>Push code fix to RC for approval</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("switchTestingLatest")' >
					<h4>Switch Latest and Testing Sites</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("releaseApproved")' >
					<h4>Released approved site from RC</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("rollBack")'  >
					<h4>Roll back live site</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("localCopy")'  >
					<h4>Pull a local copy of live Site</h4>
				</div>
				<div class='row sidebar-item'  ng-click='expandTask("updateCopy")'>
					<h4>Update Copy from Live</h4>
				</div>
				<div class='row sidebar-item' ng-click='expandTask("freshenRemote")' >
					<h4>Update RC from live</h4>
				</div>
			</div>
			<div class='col-md-10'>
				<div class='row info-bar'>
					<div class='col-md-4 form-inline' role='form'>
						<h2>
							Server Group Selected:
							<select ng-model='brandCodeSelected'>
								<option value='br'>BR</option>
								<option value='ch'>CH</option>
								<option value='ly'>LY</option>
								<option value='fbm'>FBM</option>
								<option value='wl'>WL</option>
								<option value='zz'>ZZ</option>
							</select>
						</h2>
					</div>
				</div>
				<div class='row' ng-show='activeTab == "listVersions"'>
					<div class='col-md-12'>
						<div class='row'>
							<div class='col-md-6 col-md-offset-1'>
								<br>
								<h2> File Tree with available versions for the currently selected server</h2>
								<button ng-click='getFiletree(brandCodeSelected)' class="btn btn-default btn-lg" >Check for updates to file tree</button>
								<p>{{data}}</p>
								<p>{{wibble | angular}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show='activeTab == "pushFix"'>
					<div class='col-md-12'>
						<p>expanded2</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var app = angular.module('mainApp', []);
		app.controller('mainController', function($scope,$rootScope) {
			$rootScope.cheese = 'stilton';
		});
		
	</script>
	<script src="/static/main.js"></script>
</html>

