img {
    width: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
font-family: 'Lato', sans-serif;
font-size: 18px;
}

.testclass{
	padding-top: 13px;
}


.border-class{
    border-width: 5px;
    border-style: solid;
    border-color:#000000;

}

h3{
font-family: 'Lato', serif;
    font-size: 13px;
    margin:0px;
}

